html,
body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/* style for button */
.button {
    /* text style */   
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    /* button style */    
    padding: 15px 36px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    margin: 0 auto;
}

.button:hover {
    opacity: 0.9;
}

/* Header */
header {
    background-image: url(/image/headerBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-navbar {
    padding: 40px 0;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.header__menu_item{
    margin-right: 40px;
}

.header__menu_item:last-child{
    margin-right: 0;
}

.header__menu-link {   
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;  
    display: inline-block;
    cursor: pointer;
    position:relative;
}


.header__menu-link:after {
    background-color: #fff;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    top: 61px;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}

.header__menu-link:hover:after,
.header__menu-link:focus:after {
    width: 100%;
}

.header__line {
    margin: 0;
    opacity: 0.5;
    border: 1px solid #A1A1A1;  
}

.header-banner {
    padding: 220px 0 335px 0;
}

.header__title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.header__text {
    width: 100%;
    max-width: 829px;
    margin: 20px auto 50px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;    
    color: #FFFFFF;
}

.header__btn {
    display: flex;
    justify-content: center;
}

/* Main */

/* Footer */